<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <title>CRUD-API</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
<div class="ListInput">
<h1>회원 수정</h1>
<form action="/users/<%= user.userid %>?_method=PUT" method="post">
    아이디 :
    <br>
    <ui><%= user.userid %></ui>
    <br>
    비밀번호 : 
    <div class="Input">
    <input type="text" name="editPW" class="inputbox" value="<%= user.password %>">
    </div>
    이름 : 
    <div class="Input">
    <input type="text" name="editName" class="inputbox" value="<%= user.name %>">
    </div>
    <div class="Box">
    <input type="submit" id="send" value="전송하기">
</div>
</form>
</div>
</body>
</html>