<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <title>CRUD-API</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>

<main>
<div class="ListInput">
	<h1>회원가입</h1>
	<form action="/users" method="POST">
		아이디 : 
		<div class="Input">
			<input type="text" name="inputID" class="inputbox" placeholder="아이디를 입력하세요.">
		</div>
		비밀번호 : 
		<div class="Input">
			<input type="text" name="inputPW" class="inputbox" placeholder="비밀번호를 입력하세요.">
		</div>
		이름 : 
		<div class="Input">
			<input type="text" name="inputName" class="inputbox" placeholder="이름을 입력하세요.">
		</div>
		</table>
		<div class="Box">
			<input type="submit" id="send" value="회원가입">
		</div>
	</form>
</div>
</main>
</body>
</html>
