<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
	<title>Document</title>
</head>
<style>
main{
    width: auto;
    display: flex;
	flex-direction: column;
	justify-content: center;
}
.ListInput{
	max-width: 500px;
    width: auto;
	height: auto;
}
.Input{
	margin-bottom: 10px;
	width: auto;
	height: auto;
	margin-left: 20px;
	border:1px solid black;
}
.inputbox{
	max-width: 500px;
    width:100%;
    height:30px;
    font-size:15px;
    cursor: text;
    border:0px;
}
.Box{
	margin-top: 15px;
	margin-bottom: 20px;
	text-align: center;
}
#send{
	width:100px;
	height:30px;
	font-size:18px;
}
h1{
	text-align: center;
}
table {
    width: 100%;
    border-top: 1px solid #444444;
	border-collapse: collapse;
	text-align: center
  }
  th, td {
    border-bottom: 1px solid #444444;
    padding: 10px;
  }
  .bt {
	width: 70px;
  }
</style>
<body>

<main>
<div class="ListInput">
	<h1>회원가입</h1>
	<form action="/users" method="POST">
		아이디 : 
		<div class="Input">
			<input type="text" name="inputID" class="inputbox" placeholder="아이디를 입력하세요.">
		</div>
		비밀번호 : 
		<div class="Input">
			<input type="text" name="inputPW" class="inputbox" placeholder="비밀번호를 입력하세요.">
		</div>
		이름 : 
		<div class="Input">
			<input type="text" name="inputName" class="inputbox" placeholder="이름을 입력하세요.">
		</div>
		</table>
		<div class="Box">
			<input type="submit" id="send" value="회원가입">
		</div>
	</form>
</div>



<div class="ListInput">
	<h1>사용자 목록</h1>
<table>
	<tr>
		<td>아이디</td>
		<td>이름</td>
		<td>수정</td>
		<td>삭제</td>
	</tr>
	<% for(let user of users) { %>
		<tr>
			<td><%= user.userid %></td>
			<td><%= user.name %></td>
			<td class="bt"><button><a href="/edit/<%=user.userid%>">수정하기</a></button></td>
			
			<form action="/users/<%=user.userid%>?_method=DELETE" method="POST">
				<td class="bt"><input type="submit" value="삭제하기"></input></td>
			</form>
		</tr>
	<% } %>
</table>
</div>
</main>
</body>
</html>