<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
	<title>CRUD-API</title>
	<link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>

<main>

<div class="ListInput">
	<h1>사용자 목록</h1>
<table>
	<tr>
		<td>아이디</td>
		<td>이름</td>
		<td>수정</td>
		<td>삭제</td>
	</tr>
	<% for(let user of users) { %>
		<tr>
			<td><%= user.userid %></td>
			<td><%= user.name %></td>
			<td class="bt"><button><a href="/edit/<%=user.userid%>">수정하기</a></button></td>
			
			<form action="/users/<%=user.userid%>?_method=DELETE" method="POST">
				<td class="bt"><input type="submit" value="삭제하기"></input></td>
			</form>
		</tr>
	<% } %>
</table>
<div class="insert_bt_div">
<td><button class="insert_bt"><a href="/insert">회원가입</a></button></td>
</div>
</div>
</main>
</body>
</html>