main{
  width: auto;
  display: flex;
flex-direction: column;
justify-content: center;
}
.ListInput{
max-width: 500px;
  width: auto;
height: auto;
}
.Input{
margin-bottom: 10px;
width: auto;
height: auto;
margin-left: 20px;
border:1px solid black;
}
.inputbox{
max-width: 500px;
  width:100%;
  height:30px;
  font-size:15px;
  cursor: text;
  border:0px;
}
.Box{
margin-top: 15px;
margin-bottom: 20px;
text-align: center;
}
#send{
width:100px;
height:30px;
font-size:18px;
}
h1{
text-align: center;
}
ui{
  font-size:20px;
  margin-left: 20px;
  padding-bottom: 10px;
  border: 0px;
}
table {
  width: 100%;
  border-top: 1px solid #444444;
border-collapse: collapse;
text-align: center
}
th, td {
  border-bottom: 1px solid #444444;
  padding: 10px;
}
.bt {
width: 70px;
}

.insert_bt {
width: 100px;
height: 40px;
font-size:18px;
}
.insert_bt_div{
width: 100px;
height: 40px;
padding: 10px;
margin:auto auto;
}